body {
    text-align: center;
  
}

h1 {
    font-size: 40px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: 300;
}

#intro{
    
    background-image:radial-gradient(#94fffb,#ff96fd)
}

#origami1{
   background-color:#a8ffa8;
    border-width:15px;
    border-color:black;
    border-style:double;
}

#contact_1{
    background-color: cornflowerblue;
}
#contact_1 h3
{
    display: inline;
}
#contact_1 a
{
    color: white;
    text-shadow: none;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
p{
    font-size:18px;
}
